@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.gallery-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 425px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .paragraph-box {
    @extend %center-flex;

    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover .paragraph-container {
      opacity: 1;
    }

    .paragraph-container {
      @extend %column-flex;

      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var.$background-color-base;
      padding: var.$gutter-base;
      text-align: center;
      justify-content: center;
    }
  }
}
